@import "tailwindcss";

@theme {
  --color-tinder-primary: #FE3C72;
  --color-tinder-secondary: #FF6036;
  --color-tinder-dark: #21262E;
  --color-tinder-light: #F7F7F7;
  --color-tinder-gray: #646A73;
}

@utility bg-gradient-tinder {
  background-image: linear-gradient(135deg, #FE3C72 0%, #FF6036 100%);
}
